/*

#ec4c4c

#1a1a1d;
#4E4E50;
#6F2232;
#ec4c4c;
#C3073F;
*/

/* Body */

html body {
	color: #000;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Header */

#header {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

#header .menu a {
	color: #ec4c4c;
	letter-spacing: 1px;
}

.header .logo {
	width: 150px;
}

.header .logo img {
	margin: 0;
	margin-top: 15%;
	margin-left: 30px;
}


.icon-menu, #menu-toggle:checked + .icon-menu {
	background-color: #ec4c4c;
}

/* Content */

#contents {
	background-color: #fff;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.feed_img {
	width: 100%;
	max-width: 640px;
	margin: 30px auto;
	display: inline-block;
	position: relative;
	clear: both;
}

.image_user{
	float: left;
	margin: 0;
}

.image_date{
	float: right;
	margin: 0;
	top: 1em;
}

.single_photo {
	position: relative;
}

.delete_image {
	position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background: #ec4c4c;
    padding: 0px 9px;
	border-radius: 50%;
	cursor:	pointer;
}

/* Sidebar */

.right {
	padding-left: 20px;
}

/* Footer */

#footer {
	background-color: #1a1a1d;
}

/* Texts */

.light-text .bg-white * {
	color: #1a1a1d;
}

/* Forms */

form input, textarea {
	margin: auto;
	max-width: 100%;
}

/* Buttons */

.btn.red.solid, .btn.red:hover {
	color: #fff;
	background: #ec4c4c;
	border-color: #ec4c4c;
}

#savebutton {
	margin-top: 20px !important;
}

/* Make photo area correct size and responsive */

#photo_area {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 1080px;
}

#dummy {
	margin-top: 75%; /* 4:3 aspect ratio */
}

#photo, #video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* Pages */
.pages img {
	display: inline-block;
	width: 44px;
	padding: 10px;
	margin: auto;
}

/* Comments and likes */

input[type="submit"] {
	background: #ec4c4c;
	border: 1px solid #ec4c4c;
	color: #fff;
	border-radius: 0;
	font-weight: 400;
    letter-spacing: 1px;
}

.comments {
	width: 85%;
	float: left;
	min-height: 70px;;
}

.comment {
	float: left;
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
	border: 1px solid #eee;
	border-top: 0px;
}

.comment_date {
	float: right;
	width: 50%;
	text-align: right;
	top: 1em;
}

.comment_user {
	float: left;
	width: 50%;
	text-align: left;
	font-weight: 700;
}

.comment_text {
	float: left;
	width: 100%;
	text-align: left;
}

.comment_form {
    float: left;
	width: 100%;
	position: relative;
}

.comment_field {
	width: 100%;
	padding: 9px 65px 9px 10px;
	margin:0;
	height: 70px;
	border-radius: 0;
	background-color: #f5f5f5;
}

.comment_field.disabled {
	background-color: #1a1a1d;
	border: 1px solid #1a1a1d;
}

.comment_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin:0;
	height: 70px;
}

.likes {
	position: relative;
	width: 15%;
	border: 1px solid #EEE;
	float: left;
	height: 70px;
}

.likes p {
	margin: 0;
}

.active.heart:before,.active.heart:after{
	background: red !important;
}
.heart {
    width: 40px;
	height: 40px;
	margin: auto;
    transition: background 0.5s ease;
}
.heart:before, .heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    top: 10px;
    width: 15px;
    height: 25px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
	transform-origin: 0 100%;
	margin: auto;
}
.heart:after {
    transform: rotate(45deg);
    transform-origin: 50% 30%;
    margin: auto;
}
.redheart:after, .redheart:before {
	background: red;
}

/* Utlility classes */

.hide {
	display: none !important;
}

.center {
	display: block;
	margin: auto;
}
